html {
    --input-boxshadow: transparent;
    background-image: url(wallpaperroxo.jpg);
    margin: 0;
}

body{
    background-color: #1c0d30 !important;
}

html {
    height: 100%;
}
body {
    min-height: 100%;
}

.blocos {
    grid-template-columns: repeat(5,3fr);
    grid-gap: 2vh;
    background-image: linear-gradient(144deg,#AF40FF, #5B42F3 50%,#00DDEB);
    border-radius: 5px;
    padding: 1%;
    backdrop-filter: blur(4px);
}

.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1%;
    background-image: linear-gradient(144deg,#AF40FF, #5B42F3 50%,#00DDEB);
    color: white;
    font-size: 1.5em;
    font-family: Verdana, monospace;
}

.card {
    cursor: pointer;
    border-radius: 5px !important;
    padding: 15px 15px 0px 15px;
}

a{
    text-decoration: none;
}



.logo{
    width: 40%;
    height: 1%;
}

.bloco-anime {
    width: 15%;
    margin: 1%;
    text-overflow: clip;
    overflow: auto;
    text-align: center;
    background-color: #256D85;
    padding: 1%;
}

.busca{
    width: 100%;
    margin: 1%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.inputBusca{
    width: 98%;
    margin-right: 2%;
    border-radius: 5px;
    box-shadow: inset 0 1px 3px var(--input-boxshadow);
}

.buscaButton{
    align-items: center;
    background-image: linear-gradient(144deg,#AF40FF, #5B42F3 50%,#00DDEB);
    border: 0;
    border-radius: 8px;
    box-shadow: rgba(151, 65, 252, 0.2) 0 15px 30px -5px;
    box-sizing: border-box;
    color: #FFFFFF;
    display: flex;
    font-family: Phantomsans, sans-serif;
    font-size: 16px;
    justify-content: center;
    line-height: 1em;
    max-width: 100%;
    min-width: 100px;
    padding: 5px 10px;
    text-decoration: none;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    white-space: nowrap;
    cursor: pointer;
}

    .button-63:active,
    .button-63:hover {
        outline: 0;
    }

    @media (min-width: 768px) {
        .button-63 {
            font-size: 24px;
            min-width: 196px;
        }
    }

.generos , .tipo{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;
    color: white;
    font-size: 1.1em;
}



.titulo{
    height: 5%;
    position: relative;
    align-self: start;
    text-overflow: ellipsis;
    font-family: Verdana, monospace;

}

.imgMidia{
    width: 100%;
    border-radius: 5px;
}

.midiaContainer {
    margin-top: 1%;
    padding: 1%;
    border-radius: 5px;
    height: 100%;
    backdrop-filter: blur(5px);
    background-color: #291145;
    color: white;
}

.logout{
    border-radius: 20px;
}

.midia{
    background-color: #1D0C31;
}




