html{
    height: 100%;
    font-size: 1vw;


}

.fundoLogin{
    background-image: url("wallpaper.jfif");;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.fundoRegistro {
    background-image: url("fundoRegistro.jpg");;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

}

.containerr{
    width: 100%;

}

.formLogin{
    margin: 0 auto;
    margin-top: 10%;
    width: 25%;
    background-color: rgba(255, 255, 255, 0.72);
    text-align: center;
    align-items: center;
    align-content: center;
}




