<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="pt">

<head>
    <link rel="stylesheet" type="text/css" th:href="@{/rep/common.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/rep/fonts.css}"/>
    <link th:href="@{/rep/bootstrap.min.css}" rel="stylesheet"/>
    <link rel="stylesheet" type="text/css" th:href="@{/rep/Listagem.css}"/>
    <script th:src="@{/rep/javascript.js}"></script>

    <link href="/rep/bootstrap.min.css" rel="stylesheet"/>
    <link rel="stylesheet" href="../static/rep/common.css">
    <link rel="stylesheet" href="../static/rep/css.css">
    <link rel="stylesheet" href="../static/rep/Listagem.css"><link th:href="@{/rep/bootstrap.min.css}" rel="stylesheet"/>

    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

    <header>
        <div class="box1">
            <div class="caixaHeader">
                <a  th:href="'/listagem'"><img class="logo" th:src="@{/rep/logoHorizontal.png}"></a>
                <div class="caixaBuscaLinks">
                    <div class="links">
                        <a th:href="'/listagem'">Início</a>
                    </div>
                    <div class="links" th:class="${pagina != null && pagina.equals('lista')} ? 'linksOn' : 'links'">
                        <a th:href="'/listagem'">Lista</a>
                    </div>
                    <div class="links">Filmes</div>
                    <div class="links" th:class="${pagina != null && pagina.equals('favoritos')} ? 'linksOn' : 'links'">
                        <a th:href="'/listagemFavoritos'">
                            Favoritos
                        </a>
                    </div>
                    <div class="links" th:class="${pagina != null && pagina.equals('temporada')} ? 'linksOn' : 'links'">
                        <a th:href="'/temporada'"
                        >Temporada</a>
                    </div>
                </div>
            </div>
            <div class="caixaBuscaHeader">
                <div class="box2">
                    <svg xmlns="http://www.w3.org/2000/svg" class="searchIco" viewBox="0 0 16 16">
                        <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001q.044.06.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1 1 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0"/>
                    </svg>
                    <form class="formBusca" method="get" th:action="@{/listagem}">
                        <input class="buscaTexto" type="text"  name="buscaNome" placeholder="Buscar..." >
                    </form>
                </div>
                <form th:action="@{logout}" method="post">
                    <div>
                        <input class="btn btn-danger logout" type="submit" value="Logout"/>
                    </div>
                </form>
            </div>
        </div>
    </header>
</body>
</html>