<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" lang="pt">
<head>
    <title>Seus animes favoritos</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link th:href="@{/rep/css.css}" rel="stylesheet"/>
    <link rel="stylesheet" type="text/css" th:href="@{/rep/common.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/rep/fonts.css}"/>
    <link th:href="@{/rep/bootstrap.min.css}" rel="stylesheet"/>
    <link rel="stylesheet" type="text/css" th:href="@{/rep/Listagem.css}"/>
    <script th:src="@{/rep/javascript.js}"></script>
    <link href="/rep/bootstrap.min.css" rel="stylesheet"/>
    <link rel="stylesheet" href="../static/rep/common.css">
    <link rel="stylesheet" href="../static/rep/css.css">
    <link rel="stylesheet" href="../static/rep/Listagem.css">

</head>
<body class="midia">

    <div th:include="header :: header"></div>


<div class="container midiaContainer">
    <span>Sua listagem de favoritos</span>
    <div class="grid1 grifFavoritos">
        <div class="caixaImagem" th:each="media : ${listaFavoritos}">
            <a class="linkAnime" th:href=" '/media/' + ${media.getIdMedia()}">
                <img class="imgCard" th:src="${media.getCoverImage()}"  alt="Cover image"/>
            </a>
            <p class="tituloCaixa h5" th:text="${media.getTitle()}" ></p>
            <label class="containerLike favorito">
                <span th:text="${favoritados.contains(media.getId()) ? 'Desfavoritar' : 'Favoritar'}"></span>
                <input type="checkbox"  th:checked="${favoritados.contains(media.getIdMedia())}"
                       th:data-parameter1="${media.getIdMedia()}"
                       th:data-parameter2="${media.getTitle()}"
                       th:data-parameter3="${media.getCoverImage()}"
                       th:onclick="salvarFavorito(this.getAttribute('data-parameter1'),this.getAttribute('data-parameter2'), this.getAttribute('data-parameter3')); atualizarTextoFavorito(this)"/>
                <svg id="Layer_1" version="1.0" viewBox="0 0 24 24" xml:space="preserve" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"><path d="M16.4,4C14.6,4,13,4.9,12,6.3C11,4.9,9.4,4,7.6,4C4.5,4,2,6.5,2,9.6C2,14,12,22,12,22s10-8,10-12.4C22,6.5,19.5,4,16.4,4z"></path></svg>
            </label>
        </div>
    </div>
</div>

</body>
</html>