<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" lang="pt">
<head>
  <title>AnimeWEB!</title>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link th:href="@{/rep/bootstrap.min.css}" rel="stylesheet"/>
    <link th:href="@{/rep/css.css}" rel="stylesheet"/>
    <link href="/rep/bootstrap.min.css" rel="stylesheet"/>
    <script th:src="@{/rep/javascript.js}"></script>
</head>
<body>
    <header class="header p-2" style="--bs-bg-opacity: .5;">
        <div class="container-fluid">
            <div class="row">
                <div class="col-6 d-flex align-items-center justify-content-start">
                    <a  th:href="'/listagem/'"><img class="logo" th:src="@{/rep/logoHorizontal.png}"></a>
                </div>
                <div class="col-6 d-flex align-items-center justify-content-end">
                    <form th:action="@{logout}" method="post">
                        <div><input class="btn btn-danger" type="submit" value="Logout"/></div>
                    </form>
                </div>
            </div>
        </div>
    </header>
    <div id="busca"  class="busca">
        <form class="formBusca" th:action="@{/listagem}" method="get">
            <div class="tipo">
                <label for="ANIME">ANIME
                <input type="radio" name="type" id="anime" value="ANIME" th:checked="${filtros.getType().equalsIgnoreCase('ANIME')}">
                </label>
                <label for="MANGA">MANGA
                    <input type="radio" name="type" id="manga" value="MANGA" th:checked="${filtros.getType().equalsIgnoreCase('MANGA')}">
                </label>
            </div>

            <div class="generos">
                <label class="checkbox-container">
                    <input class="custom-checkbox" type="checkbox" id="action" th:checked="${filtros.getGeneros().contains('action')}" name="generos" value="action">
                    <span class="checkmark"></span>
                    Action
                </label>
                <br>
                <label class="checkbox-container">
                    <input class="custom-checkbox" type="checkbox" id="adventure" th:checked="${filtros.getGeneros().contains('adventure')}" name="generos" value="adventure">
                    <span class="checkmark"></span>
                    Adventure
                </label>
                <br>
                <label class="checkbox-container">
                    <input class="custom-checkbox" type="checkbox" id="comedy" th:checked="${filtros.getGeneros().contains('comedy')}" name="generos" value="comedy">
                    <span class="checkmark"></span>
                    Comedy
                </label>
                <br>
                <label class="checkbox-container">
                    <input class="custom-checkbox" type="checkbox" id="drama" th:checked="${filtros.getGeneros().contains('drama')}" name="generos" value="drama">
                    <span class="checkmark"></span>
                    Drama
                </label>
                <br>
                <label class="checkbox-container">
                    <input class="custom-checkbox" type="checkbox" id="fantasy" th:checked="${filtros.getGeneros().contains('fantasy')}" name="generos" value="fantasy">
                    <span class="checkmark"></span>
                    Fantasy
                </label>
                <br>
                <label class="checkbox-container">
                    <input class="custom-checkbox" type="checkbox" id="horror" th:checked="${filtros.getGeneros().contains('horror')}" name="generos" value="horror">
                    <span class="checkmark"></span>
                    Horror
                </label>
                <br>
                <label class="checkbox-container">
                    <input class="custom-checkbox" type="checkbox" id="mystery" th:checked="${filtros.getGeneros().contains('mystery')}" name="generos" value="mystery">
                    <span class="checkmark"></span>
                    Mystery
                </label>
                <br>
                <label class="checkbox-container">
                    <input class="custom-checkbox" type="checkbox" id="psychological" th:checked="${filtros.getGeneros().contains('psychological')}" name="generos" value="psychological">
                    <span class="checkmark"></span>
                    Psychological
                </label>
                <br>
                <label class="checkbox-container">
                    <input class="custom-checkbox" type="checkbox" id="romance" th:checked="${filtros.getGeneros().contains('romance')}" name="generos" value="romance">
                    <span class="checkmark"></span>
                    Romance
                </label>
                <br>
                <label class="checkbox-container">
                    <input class="custom-checkbox" type="checkbox" id="sci-fi" th:checked="${filtros.getGeneros().contains('sci-fi')}" name="generos" value="sci-fi">
                    <span class="checkmark"></span>
                    Sci-Fi
                </label>
                <br>
                <label class="checkbox-container">
                    <input class="custom-checkbox" type="checkbox" id="slice of life" th:checked="${filtros.getGeneros().contains('slice of life')}" name="generos" value="slice of life">
                    <span class="checkmark"></span>
                    Slice of Life
                </label>
                <br>
                <label class="checkbox-container">
                    <input class="custom-checkbox" type="checkbox" id="thriller" th:checked="${filtros.getGeneros().contains('thriller')}" name="generos" value="thriller">
                    <span class="checkmark"></span>
                    Thriller
                </label>
                <br>
                <label class="checkbox-container">
                    <input class="custom-checkbox" type="checkbox" id="supernatural" th:checked="${filtros.getGeneros().contains('supernatural')}" name="generos" value="supernatural">
                    <span class="checkmark"></span>
                    Supernatural
                </label>
                <br>
                <label class="checkbox-container">
                    <input class="custom-checkbox" type="checkbox" id="sports" th:checked="${filtros.getGeneros().contains('sports')}" name="generos" value="sports">
                    <span class="checkmark"></span>
                    Sports
                </label>
                <br>
            </div>


            <div class="busca">
            <input class="inputBusca" type="text" id="inputBusca" name="buscaNome" th:value="${filtros.getBuscaNome()}" placeholder="Buscar por nome...">
            <input class="buscaButton" type="submit" value="Buscar">
            </div>
        </form>
    </div>
      <div class="container">
          <ul class="card-group blocos">
              <li class="card bg-secondary" style="--bs-bg-opacity: .5;" th:each="media : ${listagem.getPage().getMedia()}">
                  <label class="containerLike">
                      <input type="checkbox"  th:checked="${favoritos.contains(media.getId())}"
                                            th:data-parameter1="${media.getId()}"
                                            th:data-parameter2="${media.getTitle().getRomaji()}"
                                            th:data-parameter3="${media.getCoverImage().getLarge()}"
                             th:onclick="salvarFavorito(this.getAttribute('data-parameter1'),this.getAttribute('data-parameter2'), this.getAttribute('data-parameter3'))"/>
                      <svg id="Layer_1" version="1.0" viewBox="0 0 24 24" xml:space="preserve" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"><path d="M16.4,4C14.6,4,13,4.9,12,6.3C11,4.9,9.4,4,7.6,4C4.5,4,2,6.5,2,9.6C2,14,12,22,12,22s10-8,10-12.4C22,6.5,19.5,4,16.4,4z"></path></svg>
                  </label>
                  <a th:href=" '/media/' + ${media.getId()}">
                    <img class="card-img-top" th:src="${media.getCoverImage().getLarge()}"  alt="Cover image"/>
                  </a>
                  <p class="card-title h5 text-center" th:text="${media.getTitle().getRomaji()}"/>
              </li>
          </ul>
      </div>


      <form th:action="@{logout}" method="post">
          <div><input type="submit" value="Logout"/></div>
      </form>

<div class="col">
    <ul class="nav">
        <li>
            <a th:if="${filtros.getBuscaNome().isBlank()}" th:href=" '/listagem?page='+${listagem.getPage().getPageInfo().getCurrentPage() +1}"> UP </a></li>
        <a th:if="${!(nomeBusca == null)}" th:href=" '/listagem?page='+${listagem.getPage().getPageInfo().getCurrentPage() +1}+'&buscaNome='+${nomeBusca}"> UP </a></li>
    </ul>
</div>
</body>
</html>